<div class="modal-forgot-password">
  <div class="fa fa-close cta-close" ng-click="dismiss({action:'cancel'})"></div>
  <form name="form">
    <p>Please enter your email address to reset your password.</p>
    <input type="email" name="email" ng-model="email.text">
    <div class="button-wrap">
      <button class="btn btn-green" type="submit" ng-click="close({action:'submit', email:email.text})" ng-disabled="!email.text || !form.email.$valid">Submit</button>
    </div>
  </form>
</div>