<section class="page-help">

  <div class="inner">
    <h1 class="text-center">Welcome to the Literacy Central App <br><em>created by Reading is Fundamental (RIF)</em></h1>

    <h2>About the Literacy Central App</h2>
    <p>The Literacy Central App is a free resource that allows users to scan an ISBN barcode of a specific book and launch the Literacy Central webpage dedicated to activities, games, and helpful tips specific to the book. Children are motivated to stay engaged with reading through countless adventures that start with just one book. Parents and educators have an easy, trusted tool designed to create a culture of literacy for lasting impact.</p>

    <h2>ISBN</h2>
    <p>The International Standard Book Number (ISBN) is a number and barcode that uniquely identifies books published internationally. You can find the ISBN barcode on the back of a book.</p>

    <h2>Using Lexile Measurements</h2>
    <p>The Literacy Central App provides Lexile measures for books to help educators and parents to match a reader with reading material that is at an appropriate level, or help give an idea of how well a reader will comprehend a text. The Lexile measure can also be used to monitor a reader's growth in reading ability over time.</p>

    <p>There are two kinds of Lexile measures: the Lexile reader measure and the Lexile text measure. Students receive a Lexile reader measure as a score from a reading test - it describes his or her reading ability. Books receive a Lexile text measure that describes the book's reading demand or difficulty.</p>

    <p>When a Lexile text measure matches or is in the range of a student’s Lexile reader measure, this is called a targeted reading experience. The reader will encounter some level of difficulty with the text, but not enough to get frustrated. This is the best way to grow as a reader - reading text that's not too hard but not too easy.</p>

    <h2>Literacy Central</h2>
    <p>Literacy Central is an online destination for teachers, parents, and literacy volunteers to get thousands of free digital resources tied directly to the books children love and teachers turn to everyday. The portal provides tools to easily organize and keep reading resources in one place with customizable book lists, printable lesson plans, activities, games, reading passages, calendars, and videos.</p>

    <p>We have everything you need to make reading fun and engaging. Check out our online resources to support your favorite books and much more!</p>

    <p><a ng-href="{{ help.websiteUrl }}" target="_blank" ng-click="help.launchWebsite($event)">Visit Literacy Central</a></p>
  </div>

</section>