<section class="full-screen page-home">


  <div class="btn-wrap">
    <div class="tag-wrap">
      <div></div>
      <div class="tag"><img src="lib/img/tag-transparent-on-white.png" ></div>
      <div></div>
    </div>
    <div class="home-buttons">
      <btn-home
        data-btn-class="btn-home btn-home-blue"
        data-goto-state="scan"
        data-icon="fa-barcode"
        data-label="Scan Book"
        ></btn-home>

      <btn-home
        data-btn-class="btn-home btn-home-red"
        data-goto-state="favorites"
        data-icon="fa-heart"
        data-label="Favorites"
        ></btn-home>

      <btn-home
        data-btn-class="btn-home btn-home-green"
        data-goto-state="settings"
        data-icon="fa-cog"
        data-label="Settings"
        ></btn-home>

      <btn-home
        data-btn-class="btn-home btn-home-yellow"
        data-goto-state="help"
        data-icon="fa-question"
        data-label="Help"
        ></btn-home>
    </div>
    <div class="brand-container">
      <div ng-show="home.user">
        Hello, {{ home.user.firstname }}!
      </div>
      <div ng-show="home.user">
        <a ui-sref="sign-out">Logout</a>
      </div>
      <div ng-hide="home.user">
        <a ui-sref="sign-in">Sign In</a>
      </div>
      <div ng-hide="home.user">
        <a ui-sref="register">Register</a>
      </div>
    </div>
  </div>
</section>
